@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
//Variables
//Colores
$colorPrincipal: #b7b7b7;
$colorSecundario: #858585;
$colorTerciario: #ffffff;
$colorCuarto: #303030;
$colorQuinto: #dbd8d8;
$colorSexto: #545454;
//Titulos
$tituloMujeres: #9f65af;
$tituloHombres: #65afaa;
$tituloEstrella: #FC0;
//Font
$fontPrincipal: Jost;
$fontSecundario: Oswald;
$fontHeading: Roboto Slab;
